@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.translate3d {
  transform: translateY(0px 100% 0px)
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
    url('/fonts/GeneralSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/Switzer-Bold.woff2') format('woff2'),
    url('/fonts/Switzer-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.woff2') format('woff2'),
    url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/GeneralSans-Bold.woff2') format('woff2'),
    url('/fonts/GeneralSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Danube';
  src: url('/fonts/DANUBE__.TTF') format('truetype'),
    url('/fonts/DANUBE__.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  /* Bold for headings */
}

.derahading {
  font-family: 'Danube', sans-serif;
  font-weight: 700;
}

p,
span {
  font-family: 'General Sans', sans-serif;
  font-weight: 400;
  /* Regular for body */
}

.label {
  font-family: 'Switzer', sans-serif;
  font-weight: 400;
  /* Regular for labels */
}



body {
  font-family: 'Inter', sans-serif;
}